In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn.model_selection import train_test_split #split train , test
from sklearn import tree

In [3]:
from sklearn import tree
from sklearn import preprocessing
%matplotlib inline
dataset = pd.read_csv("adult.data",header=None)
dataset
dataset.shape

(32561, 15)

In [4]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
dataset.columns=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","income"]

In [6]:
print(dataset.head(50))
print("==============================================================")
print(dataset.info())

    age          workclass  fnlwgt      education  education-num  \
0    39          State-gov   77516      Bachelors             13
1    50   Self-emp-not-inc   83311      Bachelors             13
2    38            Private  215646        HS-grad              9
3    53            Private  234721           11th              7
4    28            Private  338409      Bachelors             13
5    37            Private  284582        Masters             14
6    49            Private  160187            9th              5
7    52   Self-emp-not-inc  209642        HS-grad              9
8    31            Private   45781        Masters             14
9    42            Private  159449      Bachelors             13
10   37            Private  280464   Some-college             10
11   30          State-gov  141297      Bachelors             13
12   23            Private  122272      Bachelors             13
13   32            Private  205019     Assoc-acdm             12
14   40            Private  121772      Assoc-voc             11
15   34            Private  245487        7th-8th              4
16   25   Self-emp-not-inc  176756        HS-grad              9
17   32            Private  186824        HS-grad              9
18   38            Private   28887           11th              7
19   43   Self-emp-not-inc  292175        Masters             14
20   40            Private  193524      Doctorate             16
21   54            Private  302146        HS-grad              9
22   35        Federal-gov   76845            9th              5
23   43            Private  117037           11th              7
24   59            Private  109015        HS-grad              9
25   56          Local-gov  216851      Bachelors             13
26   19            Private  168294        HS-grad              9
27   54                  ?  180211   Some-college             10
28   39            Private  367260        HS-grad              9
29   49            Private  193366        HS-grad              9
30   23          Local-gov  190709     Assoc-acdm             12
31   20            Private  266015   Some-college             10
32   45            Private  386940      Bachelors             13
33   30        Federal-gov   59951   Some-college             10
34   22          State-gov  311512   Some-college             10
35   48            Private  242406           11th              7
36   21            Private  197200   Some-college             10
37   19            Private  544091        HS-grad              9
38   31            Private   84154   Some-college             10
39   48   Self-emp-not-inc  265477     Assoc-acdm             12
40   31            Private  507875            9th              5
41   53   Self-emp-not-inc   88506      Bachelors             13
42   24            Private  172987      Bachelors             13
43   49            Private   94638        HS-grad              9
44   25            Private  289980        HS-grad              9
45   57        Federal-gov  337895      Bachelors             13
46   53            Private  144361        HS-grad              9
47   44            Private  128354        Masters             14
48   41          State-gov  101603      Assoc-voc             11
49   29            Private  271466      Assoc-voc             11

            marital-status          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
5       Married-civ-spouse     Exec-managerial            Wife
6    Married-spouse-absent       Other-service   Not-in-family
7       Married-civ-spouse     Exec-managerial         Husband
8            Never-married      Prof-specialty   Not-in-family
9       Married-civ-spouse     Exec-managerial         Husband
10      Married-civ-spouse     Exec-managerial         Husband
11      Married-civ-spouse      Prof-specialty         Husband
12           Never-married        Adm-clerical       Own-child
13           Never-married               Sales   Not-in-family
14      Married-civ-spouse        Craft-repair         Husband
15      Married-civ-spouse    Transport-moving         Husband
16           Never-married     Farming-fishing       Own-child
17           Never-married   Machine-op-inspct       Unmarried
18      Married-civ-spouse               Sales         Husband
19                Divorced     Exec-managerial       Unmarried
20      Married-civ-spouse      Prof-specialty         Husband
21               Separated       Other-service       Unmarried
22      Married-civ-spouse     Farming-fishing         Husband
23      Married-civ-spouse    Transport-moving         Husband
24                Divorced        Tech-support       Unmarried
25      Married-civ-spouse        Tech-support         Husband
26           Never-married        Craft-repair       Own-child
27      Married-civ-spouse                   ?         Husband
28                Divorced     Exec-managerial   Not-in-family
29      Married-civ-spouse        Craft-repair         Husband
30           Never-married     Protective-serv   Not-in-family
31           Never-married               Sales       Own-child
32                Divorced     Exec-managerial       Own-child
33      Married-civ-spouse        Adm-clerical       Own-child
34      Married-civ-spouse       Other-service         Husband
35           Never-married   Machine-op-inspct       Unmarried
36           Never-married   Machine-op-inspct       Own-child
37       Married-AF-spouse        Adm-clerical            Wife
38      Married-civ-spouse               Sales         Husband
39      Married-civ-spouse      Prof-specialty         Husband
40      Married-civ-spouse   Machine-op-inspct         Husband
41      Married-civ-spouse      Prof-specialty         Husband
42      Married-civ-spouse        Tech-support         Husband
43               Separated        Adm-clerical       Unmarried
44           Never-married   Handlers-cleaners   Not-in-family
45      Married-civ-spouse      Prof-specialty         Husband
46      Married-civ-spouse   Machine-op-inspct         Husband
47                Divorced     Exec-managerial       Unmarried
48      Married-civ-spouse        Craft-repair         Husband
49           Never-married      Prof-specialty   Not-in-family

                   race      sex  capital-gain  capital-loss  hours-per-week  \
0                 White     Male          2174             0              40
1                 White     Male             0             0              13
2                 White     Male             0             0              40
3                 Black     Male             0             0              40
4                 Black   Female             0             0              40
5                 White   Female             0             0              40
6                 Black   Female             0             0              16
7                 White     Male             0             0              45
8                 White   Female         14084             0              50
9                 White     Male          5178             0              40
10                Black     Male             0             0              80
11   Asian-Pac-Islander     Male             0             0              40
12                White   Female             0             0              30
13                Black     Male             0             0              50
14   Asian-Pac-Islander     Male             0             0              40
15   Amer-Indian-Eskimo     Male             0             0              45
16                White     Male             0             0              35
17                White     Male             0             0              40
18                White     Male             0             0              50
19                White   Female             0             0              45
20                White     Male             0             0              60
21                Black   Female             0             0              20
22                Black     Male             0             0              40
23                White     Male             0          2042              40
24                White   Female             0             0              40
25                White     Male             0             0              40
26                White     Male             0             0              40
27   Asian-Pac-Islander     Male             0             0              60
28                White     Male             0             0              80
29                White     Male             0             0              40
30                White     Male             0             0              52
31                Black     Male             0             0              44
32                White     Male             0          1408              40
33                White     Male             0             0              40
34                Black     Male             0             0              15
35                White     Male             0             0              40
36                White     Male             0             0              40
37                White   Female             0             0              25
38                White     Male             0             0              38
39                White     Male             0             0              40
40                White     Male             0             0              43
41                White     Male             0             0              40
42                White     Male             0             0              50
43                White   Female             0             0              40
44                White     Male             0             0              35
45                Black     Male             0             0              40
46                White     Male             0             0              38
47                White   Female             0             0              40
48                White     Male             0             0              40
49                White     Male             0             0              43

    native-country  income
0    United-States   <=50K
1    United-States   <=50K
2    United-States   <=50K
3    United-States   <=50K
4             Cuba   <=50K
5    United-States   <=50K
6          Jamaica   <=50K
7    United-States    >50K
8    United-States    >50K
9    United-States    >50K
10   United-States    >50K
11           India    >50K
12   United-States   <=50K
13   United-States   <=50K
14               ?    >50K
15          Mexico   <=50K
16   United-States   <=50K
17   United-States   <=50K
18   United-States   <=50K
19   United-States    >50K
20   United-States    >50K
21   United-States   <=50K
22   United-States   <=50K
23   United-States   <=50K
24   United-States   <=50K
25   United-States    >50K
26   United-States   <=50K
27           South    >50K
28   United-States   <=50K
29   United-States   <=50K
30   United-States   <=50K
31   United-States   <=50K
32   United-States   <=50K
33   United-States   <=50K
34   United-States   <=50K
35     Puerto-Rico   <=50K
36   United-States   <=50K
37   United-States   <=50K
38               ?    >50K
39   United-States   <=50K
40   United-States   <=50K
41   United-States   <=50K
42   United-States   <=50K
43   United-States   <=50K
44   United-States   <=50K
45   United-States    >50K
46   United-States   <=50K
47   United-States   <=50K
48   United-States   <=50K
49   United-States   <=50K
==============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [7]:
dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
print(dataset.describe())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [9]:
dataset["occupation"].value_counts()
dataset["sex"].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [10]:
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
dataset.describe(include="all")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [12]:
columns=["workclass","occupation","native-country"]

In [13]:
print(sum(dataset["workclass"]==' ?'))

1836

In [14]:
for col in columns:
        dataset[col].replace([" ?"],[dataset.describe(include="all")[col][2]],inplace=True)

In [15]:
print(sum(dataset["workclass"]==' ?'))

0

In [16]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [17]:
workplace_tran = le.fit_transform(dataset.workclass)
dataset['workclass']=workplace_tran

In [18]:
dataset["workclass"].describe()

count    32561.000000
mean         3.094438
std          1.107194
min          0.000000
25%          3.000000
50%          3.000000
75%          3.000000
max          7.000000
Name: workclass, dtype: float64